# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CubeAdventure.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityPorject\CubeAdventure\.idea\.idea.CubeAdventure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
